.background{
    background-image: url('./background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh; 

    position: relative;
    top: 0;
    left: 0;
}

.white-background{
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translate(-50%, 0%);

    object-fit: cover;

    border-radius: 20px;
    height: 600px;
    width: 384px;
    min-width: 384px;
    
}

.profile-image {
    position: absolute;

    border-radius: 360px;
    height: 10rem;
    width: 10rem;

    top: 8rem;
    left: 50%;
    transform: translate(-50%, 0%);
}

@font-face {
    font-family: "RachelBrown";
    src: url(RachelBrown.ttf);
}

.name {
    position: absolute;

    font-size: 37px;
    font-family: 'RachelBrown';
    /* font-style: oblique; */
    white-space: nowrap;

    left: 50%;
    top: 19.5rem;
    transform: translate(-50%, 0%);
}

.major {
    position: absolute;

    font-size: 25px;
    /* font-family: 'Times New Roman', Times, serif; */
    font-family: 'RachelBrown';
    /* font-style: oblique; */
    white-space: nowrap;
    overflow: hidden;

    left: 50%;
    top: 24.3rem;
    transform: translate(-50%, 0%);
}

.intro {
    position: absolute;

    font-size: 20px;
    /* font-family: 'Times New Roman', Times, serif; */
    font-family: 'RachelBrown';
    /* font-style: oblique; */
    white-space: nowrap;
    overflow: hidden;

    left: 50%;
    top: 27.3rem;
    transform: translate(-50%, 0%);
}

.resume-image {
    position: absolute;
    height: 140;
    width: auto;

    left: 45%;
    top: 31rem;
    transform: translate(-50%, 0%);
}

.linkedin-image {
    position: absolute;
    height: 70;
    width: auto;

    left: 50%;
    top: 31rem;
    transform: translate(-50%, 0%);

}

.mail-image {
    position: fixed;
    height: 70;
    width: auto;

    left: 55%;
    top: 31rem;
    transform: translate(-50%, 0%);
}

*{
    margin: 0;
    padding: 0;
}

