.background{
    background-image: url('./background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh; 

    position: relative;
    top: 0;
    left: 0;
}

.white-background{
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translate(-50%, 0%);

    object-fit: cover;

    border-radius: 20px;
    height: 600px;
    width: 384px;
    min-width: 384px;
    
}

.profile-image {
    position: absolute;

    border-radius: 360px;
    height: 7rem;
    width: 7rem;

    top: 6.4rem;
    left: 50%;
    transform: translate(-50%, 0%);
}

.name {
    position: absolute;

    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;


    left: 50%;
    top: 14rem;
    transform: translate(-50%, 0%);
}

.major {
    position: absolute;

    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;

    left: 50%;
    top: 16rem;
    transform: translate(-50%, 0%);
}

.icon-image{
    height: 40;
    width: auto;
}

*{
    margin: 0;
    padding: 0;
}

